.luckiest-guy-regular {
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    width: 1280px;    
}

header{
    width: 1280px;
    height: 459px;    
    position: relative;
}

.container-header{    
    display: flex;
    flex-direction: column;
    align-items: center;    
    position: absolute; 
    width: 757px;
    height: 270px;
    top: 94px;
    left: 261px;
    gap: 24px;    
}

header h1 {
    font-family: "Luckiest Guy", serif;
    width: 313px;
    height: 112px;
    font-size: 56px;
    text-align: center;
    line-height: 56px;
    font-weight: 400;
    color: #ffffff; 
}

header p{
    width: 757px;
    height: 66px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.container-button{
    width: 502px;
    height: 44px;
    gap: 16px;
}

.button{    
    
}

.button-win{
    width: 205px;
    height: 44px;
    border-radius: 28px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    border-radius: 28px;
    text-align: center;
}

.button-nave{
    width: 281px;
    height: 44px;
    border-radius: 28px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    border-radius: 28px;
    text-align: center;
    background-color: #23272a ;
    color: #ffffff;    
}

section{
    display: flex;        
    justify-content: center;  
    align-items: center; 
    height: 448px;
    gap: 16px;
 }

section p{    
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    color: #23272a;
}


.text1{
    display: flex;
    flex-direction: column;
    width: 348px;
    height: 374px; 
    gap: 16px;   
}

.text2{
    display: flex;
    flex-direction: column;
    width: 351px;
    height: 212px;  
    gap: 16px;    
}

.text3{
    display: flex;
    flex-direction: column;
    width: 351px;
    height: 234px;
    gap: 16px;    
}

.titulo-section{   
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 54.47px;
    color: #23272a;
}

.section-final{
    max-width: 1280px;
    height: 744px;    
    padding: 40px 0 40px 0;
    gap: 16px;       
    flex-direction: column;

}

.section-final p{
    width: 802px;
    height: 44px;    
}

.titulo-luckiest{   
    width: 608px;
    height: 80px; 
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #23272a;
}

footer{    
    display: flex;
    width: 1280px;
    height: 134px;    
    background-color: #23272a;
    align-items: center;
    justify-content: center;
}


